* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f4f4f4;
}
#product {
  max-width: 1100px;
  background: #fff;
  border-radius: 1px solid #eee;
  border-radius: 18px;
  box-shadow: 0 0 16px rgba(131, 131, 131, 0.3);
  /* overflow: hidden; */
  margin: 40px auto;
  padding: 60px 24px 24px;
}
#product > hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0 40px;
}
.product-add {
  background: #ddd;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 40px 15px 25px;
  margin-bottom: 40px;
}
.h2-title {
  margin-bottom: 25px;
  text-align: center;
}
.product-add > .product-add-form {
  text-align: center;
  margin: 0 auto;
}
.product-add > .product-add-form > input {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 8px 0 8px 8px;
  font-size: 16px;
  margin-right: 10px;
}
.product-add > .product-add-form > .add-btn {
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  background: rgb(66, 190, 66);
  color: #fff;
  box-shadow: 0 0 4px rgba(1, 1, 1, 0.1);
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 30px auto 0;
  transition: 0.2s ease-in-out;
}

.table-st {
  width: 100%;
  border-spacing: 0px;
}
/* 테두리/패딩 */
.table-st th {
  padding: 12px 6px;
  font-size: 16px;
  border: 1px solid #ddd;
}
.table-st thead {
  background-color: #424fff;
  color: #fff;
}
.table-st td {
  font-size: 14px;
  padding: 14px 6px;
  border: 1px solid #ddd;
}
.product-table-body,
.order-table-body {
  text-align: center;
}

#product-message {
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}
#order-message {
  margin-bottom: 14px;
  font-weight: 600;
  color: #424fff;
}

.order-btn-wrap > button {
  padding: 4px 6px;
  margin: 8px 4px 0 0;
}
