.box {
    width: 100px;
    /* height: 100px; */
    text-align: center;
    color: white;
    border: 2px solid black;
    margin: 10px;
}
section {
    display: flex;
    flex-wrap: wrap;
    border: 2px dashed #000;
    width: 100%;
    margin-bottom: 20px;
}
.a {
    background: aqua;
}
.b {
    background: pink; 
}
.c {
    background: yellowgreen;
}
.d {
    background: tomato;
}
.e {
    background: purple;
}
.f {
    background: cornflowerblue;
}
